html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#mock-login-form.component-hidden, #user-contacts.component-hidden {
  display: none;
}

#mock-login-form.component-visible {
  display: flex;
}

#user-contacts.component-visible {
  display: block;
}

#mock-login-form {
  align-items: center;
  height: 100%;
  justify-content: center;
}

.mock-login-form-container {
  width: 150px;
}

.mock-login-form-container .form-element {
  clear: both;
  height: 30px;
  position: relative;
}

.mock-login-form-container .form-element label {
  left: 0;
  position: absolute;
}

.mock-login-form-container .form-element input {
  margin-left: 20px;
  position: absolute;
}

.mock-login-form-container .form-button {
  position: absolute;
}

.mock-login-form-container .form-button button {
  margin: 25px auto 0 auto;
  font-size: 18px;
  padding: 5px;
}

.mock-login-form-container .form-button button.active {
  background-color: blue;
  color: white;
}

.mock-login-form-container .form-button button.inactive {
  background-color: gray;
  color: white;
}

.address-book-icon {
  font-size: 60px;
  float: left;
  color: darkblue;
}

#contacts-pagination {
  clear: both;
}

.pagination-bar {
  float: right;
  margin-right: 20px;
}

.pagination-bar .message {
  margin: 0 8px;
  position: relative;
  top: -3px;
}

.contacts-container {
  margin: 30px 0 50px;
}

.contact-card {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 20px;
}

.contact-icon {
  font-size: 45px;
  float: left;
}

.add-icon, .close-add-icon {
  font-size: 35px;
  padding: 10px;
  float: right;
  margin-right: 10px;
}

.contact-actions {
  float: right;
}

.contact-actions svg {
  font-size: 25px;
}

.contact-actions div {
  margin-right: 10px;
}

.contact-actions div:last-child {
  margin-right: 0;
}

.contact-fields {
  padding: 50px 100px;
}

.contact-fields label {
  float: left;
  line-height: 30px;
}

.contact-fields span {
  position: absolute;
  left: 125px;
}

.contact-fields input {
  position: absolute;
  left: 125px;
  margin-top: 5px;
  width: 250px;
}

.contact-fields div {
  clear: both;
  position: relative;
}

.contact-card:last-child {
  border-bottom: 1px solid #ccc;
}

.add-contact-button {
  font-size: 20px;
  position: absolute;
  left: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
